.input-group i {
	width: 25px;
}

#search-banner {
	min-height: 500px;
}

#search-form {
	background: rgba(228, 232, 246, 0.56);
	padding: 15px;
	margin-top: 40px;
	border-radius: 10px;
}

#search-form h1 {
	text-align: center;
}

#search-form .row div {
	margin: 5px 0;
}

#search-room {
	margin-top: 50px;
}

#search-room-number, #search-room-location {
	padding: 0 10px;
}

#search-room div .input-group, #search-room div button {
    margin: 5px 0;
}

#title h2 {
	color: #fff;
}

#user-comment div {
	margin: 5px 0;
}

#user-comment div hr {
	
}

#more-rooms {
	font-size: 20px;
	margin-top: 15px;
}

.events {
	padding: 10px 0;
}

#left {
	width: 100%;
	height: 800px;
	margin-bottom: 20px;
}

#mid {
	width: 100%;
	margin-top: 30px;
}

#about {
	padding: 20px 0;
}

#about .line {
	/* border-right: 1px solid #cecece; */
}

#valige img {
	width: 100%;
}

#valige div {
	margin: 5px 0;
}

.carousel-inner .item img {	
	min-height: 150px;
}
