.form-icon i {
	width: 10px;
}

#search-message-form .col-md-10 .row .col-xs-12,
#search-message-form .col-md-1 {
	margin: 5px 0;
}

#search-message-form input,
#search-message-form select {
	font-size: 12px;
}

#show-message-modal .row div {
	margin: 5px 0;
}