
#no-order {
	margin-top: 20px;
	display: none;
}

#no-order .row div a,
#no-order .row div button {
	margin: 5px 0;	
}

#no-order h1 {
	margin: 30px 0;	
}

#no-order p {
	margin: 25px 0;
}

#order-sort {
	margin-top: 20px;
	display: none;
}

#order-sort button {
	margin: 5px 0;
}

#order-list {
	margin-top: 20px;
}

#order-list img {
	width: 100%
	padding: 5px;
}

#order-list .createDate {
	line-height: 56px;
}

#order-list .caption h3 {
	margin: 9px 0;
}

#order-list .caption p {
	margin: 4px 0;
}

#order-list .caption a,
#order-list .caption button {
	height: 30px;
}

#order-list .caption button {
	line-height: 0;
}

#order-list .order-payed,
#order-list .order-wait,
#order-list .order-close {
	float: right;
	display: none;
}

#order-list .order-payed i, 
#order-list .order-wait i, 
#order-list .order-close i {
	font-size: 70px;
}

#order-list .order-payed p, 
#order-list .order-wait p,
#order-list .order-close p {
	text-align: center;
}

#order-list .order-pay,
#order-list .order-show,
#order-list .order-delete,
#order-list .order-comment {
	display: none;
}

