#room-info {
	margin-top: 30px;
}

.thumbnail img {
	margin: 5px 0;
}

#booking-room .panel-heading h2,
#room-comment .panel-heading h2,
#information-tips .panel-heading h2 {
	font-size: 25px;
	text-align: center;
}

#booking-room .panel-body h3, 
#booking-room .panel-body h4 {
	text-align: center;
}

#booking-room .panel-body .input-group {
	margin: 20px 0;
}

#room-comment .panel-body h3 {
	text-align: center;
}

#room-comment-list .room-comment-list-template hr {
	margin: 5px;
}

#room-data div {
	margin: 5px 0;
	color: #666;
}

#room-photo-list img {
	width: 100%;
}

#room-photo-list .carousel-indicators li {
	width: 52px;
    height: 39px;
    background-size: cover;
}

#room-photo-list .carousel-indicators .active {
	margin-bottom: 5px;
}

#room-photo-list .carousel-control {
	height: 98%;
	top: 5px;	
}

#booking-room-insurance {
	padding: 0 10px;
}

#room-transportation {
    background-color: rgba(255,255,255,0);
    border: none;
    font-size: 16px;
    padding: 0;
}

#baidu-map {
	height: 400px;
}