
#search-room {
	margin-top: 30px;
}

#search-room  div .input-group,
#search-room  div button {
    margin: 5px 0;
}

#search-room  div .input-group select {
    padding: 0 10px;
}

#room-list {
	margin-top: 30px;
}

#no-search-result,
#search-room-loading {
	display: none;
}

#search-room-loading img {
	height: 230px;
}

#search-room-loading h1 {
	text-align: center;
}